/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --accent-color: #069fe6;
  --light-gray: rgba(0, 0, 0, 0.1);
}

/* Cart Icon */
.cart-icon {
  position: absolute;
  margin-left: 280px;
  top: 30px;
  list-style: none;
  display: inline-block;
}

#open_cart_btn {
  text-decoration: none;
  color: #fff;
}

/* Items */
.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.items .item {
  max-width: 100%;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.items .item img {
  width: 90%;
}

.item button {
  width: 200px;
  padding: 15px 25px;
  margin: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  border: 2px solid #000;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, transparent 50%, #fff 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
  background-color: #000;
}

.item button:hover {
  background-position: right;
  color: #000;
}

#items_num {
  position: relative;
  z-index: 2;
}

.item_img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_img img {
  max-width: 50%;
  min-height: 100%;
  object-fit: contain;
}

.item_details {
  flex: 2;
  padding-top: 80px;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.item_details p {
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-top: -80px;
  font-size: 16px;
  font-weight: 400;
}

.item_details h6 {
  font-size: 18px;
}

.item_details .qty {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item_details .qty button,
.item_details .qty strong {
  flex: 1;
  text-align: center;
}

.item_details .qty span {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  box-shadow: 3px 3px 5px var(--light-gray), -1px -1px 2px var(--light-gray);
  user-select: none;
  transition: scale 0.2s ease;
}

.item_details .qty span:hover {
  scale: 1.1;
}

.item_details .qty span:active {
  scale: 1;
}

.item_details .qty strong {
  font-size: 2rem;
  padding-bottom: 5px;
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.backdrop.show {
  display: block;
  opacity: 1;
}

/* SideCart */
.sidecart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 500px;
  background-color: #fff;
  box-shadow: -10px 0 15px var(--light-gray);
  z-index: 9999;
  transform: translateX(110%);
  transition: transform 0.5s ease-in-out;
}

.sidecart.open {
  transform: translateX(0);
}

.cart_content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Cart Header */
.cart_header {
  padding: 1rem;
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  position: relative;
}

.header_title h2 {
  font-weight: 100;
}

.cart_header .close_btn {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cart_header .close_btn:hover {
  transform: scale(1.1);
}

/* Cart Items */
.qty {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  padding: 3px;
  width: 110px;
  gap: 25px;
  font-size: 18px;
  margin-left: -30px;
}

.quantity-button {
  background-color: #fff;
  cursor: pointer;
  border: none;
  font-size: 30px;
  font-weight: 100;
}

.quantity-button:hover {
  background-color: #fff;
}

.cart_items {
  flex: 1;
  overflow-x: hidden;
}

.cart_item {
  position: relative;
  padding: 2rem;
  width: 100%;
  min-height: 150px;
  display: flex;
  border-bottom: 1px solid var(--light-gray);
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 90px;
  gap: 10px;
}

.cart-item-details p {
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-top: -80px;
  font-size: 16px;
  font-weight: 300;
  margin-left: -30px;
}

.cart-item-details h6 {
  margin-left: -30px;
  font-size: 14px;
  font-weight: lighter;
}

.cart-item-details strong {
  margin-left: 0;
  font-family: lighter;
}

#checkoutButton {
  width: 80%;
  margin: 0;
  padding: 10.4px 28px;
  margin-left: 55px;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  border: 2px solid #000;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #000 50% transparent 50%);
  background-size: 200%;
  background-position: left;
  background-color: #000;
  transition: background-position 0.5s, color 0.5s;
  color: #fff;
}

#checkoutButton:hover {
  background-position: right;
  color: #000;
  background-color: #fff;
}

#checkoutButton:not(:hover) {
  background-position: left;
  color: #fff;
}
.cart_actions button {
  width: 100%;
}

.cart_actions button:hover {
  background: linear-gradient(to right, transparent 50%, #fff 50%);
  background-position: right;
  color: #000;
}

.remove_item {
  position: absolute;
  top: 123px;
  right: 120px;
  width: 20px;
  height: 20px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
}

.item button {
  width: 250px;
  padding: 10px 15px;
  margin: 20px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  border: 2px solid #000;
  color: ;
  cursor: pointer;
  background: linear-gradient(to right, transparent 50%, #fff 50%);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.5s;
  background-color: #000;
}
